@import "mixins";

:root {
  --primary-color: #fcca46;
  --secondary-color: #fe7f2d;
  --ternary-color: #233d4d;
  --font-weight-bold: 900;
  --font-weight-regular: 400;
}

html {
  font-size: 16px;

  @include breakpoint-up(small) {
    font-size: 18px;
  }

  @include breakpoint-up(medium) {
    font-size: 21px;
  }
}

body {
  font-family: 'Exo', sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--ternary-color);
  margin: 5%;
  @include breakpoint-up(large) {
    max-width: 980px;
    margin: 5% auto;
    padding: 0 5%;
  }
}

h1, h2, h3, h4, h5, h6 {
  max-width: 10em;
  font-weight: var(--font-weight-bold);
  line-height: 1em;
  color: var(--ternary-color);
}

h1 { font-size: 3rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2rem; color: var(--secondary-color); }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1rem; }

ul { padding-left: 1em; }

a {
  font-size: 0.85em;
  color:var(--ternary-color);
  background-color: var(--primary-color);
  border-radius: 0.3em;
  padding: 0.15em 0.4em;
  text-decoration: none;

  &:hover {
    background-color: var(--secondary-color);
  }

  .svg-inline {
    display: inline-block;
    vertical-align: middle;
    height: 0.85em;
    margin-right: 0.35em;
  }
}
