@import "mixins";

.site-header {
  display: flex;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

  @include breakpoint-up(medium) {
    flex-direction: row;
  }

  h1 {
    transform: rotate(1deg);
    line-height: 0.85em;
    color: var(--primary-color);
    text-align: right;
  }

  .i {
    display: inline-block;
    transform: rotate(-2.5deg);
    color: var(--secondary-color);
  }

  .dot {
    display: inline-block;
    transform: rotate(2.5deg);
    color: var(--ternary-color);
  }

  .profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 0;
    transform: rotate(-10deg);
    overflow: hidden;
    border: 0.2em solid white;
    border-radius: 1rem;

    img {
      position: absolute;
      left: calc(50% - 125px);
      top: calc(50% - 125px);
      width: 250px;
      transform: rotate(10deg);
    }
  }
  
  &:hover {
    .profile-pic, .profile-pic img {
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }
  }
}
