@import "mixins";

.site-header {
  display: flex;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;

  @include breakpoint-up(medium) {
    flex-direction: row;
  }

  h1 {
    line-height: 0.85em;
    color: map-get($colors, primary-color);
    text-align: right;
  }

  .i {
    display: inline-block;
    color: map-get($colors, secondary-color);
  }

  .dot {
    display: inline-block;
    color: map-get($colors, ternary-color);
  }

  .profile-pic {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 0;
    overflow: hidden;
    border: 0.2em solid white;
    border-radius: 1rem;

    img {
      position: absolute;
      left: calc(50% - 125px);
      top: calc(50% - 125px);
      width: 250px;
    }
  }

  // Animations
  h1,
  .dot,
  .i,
  .profile-pic,
  .profile-pic img {
    animation-delay: 4s;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-fill-mode: both;
  }

  h1 {
    animation-name: rotate-title;
  }

  .i {
    animation-name: bounce;
    animation-iteration-count: 1;
    transform-origin: bottom;
  }

  .dot {
    animation-name: rotate-dot;
  }

  .profile-pic {
    animation-name: rotate-profile-pic;
  }

  .profile-pic img {
    animation-name: rotate-profile-pic-img;
  }

  &:hover {
    h1,
    .dot,
    .profile-pic,
    .profile-pic img {
      animation-delay: 0s;
      animation-duration: 1s;
    }

    h1 {
      animation-name: rotate-title-reverse;
    }

    .i {
      animation-name: bounce-again;
      animation-delay: 1s;
      animation-duration: 2s;
    }

    .dot {
      animation-name: rotate-dot-reverse;
    }

    .profile-pic {
      animation-name: rotate-profile-pic-reverse;
    }

    .profile-pic img {
      animation-name: rotate-profile-pic-img-reverse;
    }
  }
}

@keyframes rotate-title {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1deg); }
}

@keyframes rotate-title-reverse {
  0% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate-dot {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(2.5deg); }
}

@keyframes rotate-dot-reverse {
  0% { transform: rotate(2.5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate-profile-pic {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-10deg); }
}

@keyframes rotate-profile-pic-reverse {
  0% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate-profile-pic-img {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}

@keyframes rotate-profile-pic-img-reverse {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes bounce {
  0% { transform: scale(1, 1) translateY(0) rotate(0deg); }
  10% { transform: scale(1.1, 0.9) translateY(0); }
  30% { transform: scale(0.9, 1.1) translateY(-0.8em); }
  50% { transform: scale(1.05, 0.95) translateY(0); }
  57% { transform: scale(1, 1) translateY(-0.05em); }
  64% { transform: scale(1, 1) translateY(0); }
  100% { transform: scale(1, 1) translateY(0) rotate(-2.5deg); }
}

@keyframes bounce-again {
  0% { transform: scale(1, 1) translateY(0) rotate(0deg); }
  10% { transform: scale(1.1, 0.9) translateY(0); }
  30% { transform: scale(0.9, 1.1) translateY(-0.8em); }
  50% { transform: scale(1.05, 0.95) translateY(0); }
  57% { transform: scale(1, 1) translateY(-0.05em); }
  64% { transform: scale(1, 1) translateY(0); }
  100% { transform: scale(1, 1) translateY(0); }
}
